.ExperienceBack{
    position: absolute;
    font-size: 9vw;
    color: rgba(255, 255, 255, 0.076);
    font-weight: 800;
    margin-left: 27%;
    position: absolute;
    margin-top: 0.5%;
}

.ExperienceHeading{
    color: white;
    text-align: center;
    font-size: 3vw;
    font-weight: 800;
}

.ExperiencePara{
    width: 50%;
    margin-top: 3%;
    color: #999999;
    text-align: center;
    margin-left: 25%;
}

@media (max-width : 700px){
    .test{
        grid-template-columns: minmax(100px, 2fr);
        margin: 5rem 0 0 0;
        text-align: center;
    }
    .ExperienceHeading{
        color: white;
        text-align: center;
        font-size: 8vw;
        font-weight: 800;
    }
   
    
}