@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}
.skillsBack{
    font-size: 10vw;
    color: rgba(255, 255, 255, 0.076);
    display: flex;
    justify-content: center;
    margin-top: 5%;
    letter-spacing: 0.05em;
}

.skillsHeading{
    color: white;
    text-align: center;
    font-size: 4vw;
    font-weight: 800;
    margin-top: -10%;
}

.skillscontainer{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.skillsPara{
    width: 50%;
    margin-top: 3%;
    color: #999999;
    text-align: center;
    margin-left: 25%;

}


.skill h2{
    font-weight:400 ;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 16px;
}

.progessBar{
    background-color: #959595;
    width: 300px;
    height:10px;
    border-radius: 5px;
}

.progessBar div{
    height: 10px;
    border-radius: 5px;
    width: 0%;
}

.progessBar div span{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #222;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.html span{
    border: 1px solid #e91e63;
}
.css span{
    border: 1px solid #e91e63; 
}
.javascript span{
    border: 1px solid #e91e63; 
}
.linux span{
    border: 1px solid #e91e63;
}
.OOP span{
    border: 1px solid #e91e63;
}
.nosql span{
    border: 1px solid #e91e63;
}
.bootstrap span{
    border: 1px solid #e91e63;  
}
/*animation*/
.html{
   background-color: #e91e63;
    animation: html 1s linear forwards;
}
.css{
    background-color: #cddc39;
    animation: css 1s linear forwards;
}
.javascript{
    animation: javascript 1s linear forwards;
    background-color: #ffeb3b;
}
.linux{
    animation: linux 1s linear forwards;
    background-color: #00bcd4;
}
.OOP{
    animation: oop 1s linear forwards;
    background-color: yellowgreen;
}
.nosql{
    animation: nosql 1s linear forwards;
    background-color: #9c27b0;
}
.bootstrap{
    animation: bootstrap 1s linear forwards;
    background-color: skyblue;
}
@keyframes html {
    100%{
        width: 86%;
    }
    
}
@keyframes css {
    100%{
        width: 86%;
    }
    
}
@keyframes javascript {
    100%{
        width: 86%;
    }
    
}
@keyframes linux {
    100%{
        width: 86%;
    }
    
}
@keyframes oop {
    100%{
        width: 86%;
    }
    
}
@keyframes nosql {
    100%{
        width: 86%;
    }
    
}
@keyframes bootstrap {
    100%{
        width: 86%;
    }
    
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .skillscontainer {
        padding: 10px;
        margin: 0;
    }

    .skillsHeading{
        font-size: 2rem;
        top: 0;

    }

    .skills h2 {
        font-size: 14px;
    }

}

@media only screen and (min-width: 992px) {
    .professional #professional {
        width: 40%;
    }

    .profList li {
        width: 40%;
    }
}

@media screen and (max-width: 576px) {
    .skillscontainer {
        padding: 5px;
    }

    .skills h2 {
        font-size: 12px;
    }

    .progessBar {
        max-width: 300px;
    }
}


/* Professional Skills */

.professional #professional {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-left: 30%;
    width: 40%;
}

.professional h4 {
    margin-bottom: 20px;

}

.profList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.profList li {
    margin-bottom: 10px;
    width: 40%;
    display: flex;
    font-size: 1.5rem;
    line-height: 1em;
    padding-bottom: 30px;
}

.profList li i {
    margin-right: 10px;
    color: #4CAF50; /* Green */
}


/* Responsive */
@media screen and (max-width: 768px) {
    .professional #professional {
        margin: 1px;
        width: 100%;
    }
    #professional h4{
        font-size: 2em;
    }
    .profList {
        margin-top: -10%;
        list-style: none;
        display: flex;
        flex-direction: column;
      
    }
    
    .profList li {
        width: 80%;
        font-size: 1.25rem !important;
    }
    
    .profList li i {
        color: #4CAF50; /* Green */
        display: flex;
        align-items: center;
        margin-left: 20%;
    }
}

@media screen and (max-width: 576px) {
    .professional #professional {
        padding: 5px;
    }

    .profList li {
        font-size: 12px;
    }
}